api.lyftzeigen.ru {
    route /spring-api/* {
        uri strip_prefix /spring-api
        reverse_proxy spring-api:8080
    }
    route /fastapi-app/* {
        uri strip_prefix /fastapi-app
        reverse_proxy fastapi-app:8081
    }
}

